@import "index";
.m-index{
  position: relative ;
  font-size: 20px;
  .m-index-top-back{
    display: block;
    width:750px;
    height: 422px;
  }
  .m-index-center-back{
    display: block;
    width: 750px;
    height: 6900px;
  }
  .m-index-content{
    position: absolute;
    top:0;
    left:0;
    .m-index-top{
      color: #fff;
      width: 750px;
      height: 422px;

    }
    .m-index-center{
      width: 750px;
      height: 6900px;
    }
  }
}
